{% extends '_template.html.twig' %}

{% block title %}Mot de pass oublié{% endblock %}

{% block content %}
    <div class="columns is-centered section">
        <div class="column is-one-third box">
            <h1 class="title has-text-primary has-text-centered">Mot de pass oublié</h1>

            {# Affichage des message flash #}
            {% include 'includes/flashes.html.twig' %}

            {# si l'utilisateur est déjà connecté #}
            {% if app.user %}
                <div class="notification is-info">
                    Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            {# si une erreur survient #}
            {% if error %}
                <div class="notification is-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {# ForgotPasswordFormType #}
            {{ form_start(emailForm) }}
                {{ form_row(emailForm.email, {
                    label : 'E-mail'
                }) }}
            <button class="button is-primary is-fullwidth" type="submit">
                Envoyer lien réinitialisation
            </button>
            {{ form_end(emailForm) }}
        </div>
    </div>
{% endblock %}
