{% extends '_admin_template.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block content %}
    <div class="section">

        <h1 class="title has-text-centered">Liste des catégories</h1>

        <div class="columns">
            <div class="column"></div>
            <div class="column is-half">
                <a href="{{ path('admin_categorie_add') }}" class="button is-success mb-4">
                    Nouvelle catégorie
                </a>

                {% include 'includes/flashes.html.twig' %}

                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom de la catégorie</th>
                        <th>Nombre de produits</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {# La boucle sur list_categories, dernière colonne : Modifier & Supprimer #}
                    {% for categorie in list_categories %}
                        <tr>
                            <td>{{ categorie.id }}</td>
                            <td>{{ categorie.nom }}</td>
                            <td>{{ categorie.getProduits|length }}</td>
                            <td>
                                <div class="buttons is-pulled-right">
                                    <a href="{{ path('admin_categorie_edit', {id:categorie.id}) }}" class="button is-success">Modifier</a>
                                    <a href="{{ path('admin_categorie_delete', {id:categorie.id}) }}" class="button is-danger">Supprimer</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="column"></div>
        </div>
    </div>
{% endblock %}