{% extends "_template.html.twig" %}

{% block title %} {{produit.titre}} {% endblock %}

{% block content %}
    <section class="section px-0 py-0">
        <div class="container pt-5 has-background-info-light">
            <div class="columns my-0 is-tablet is-multiline is-centered">
                {# Column 1/2 #}
                <div class="column px-5">
                    <h1 class="title has-text-primary">
                        {{produit.titre}}
                    </h1>
                    <a class="has-background-success has-text-white px-1">
                        <strong> {{produit.categorie.nom | default('catégorie non disponible')}}</strong>
                    </a>
                    <p class="content has-text-left-mobile">
                        {{produit.description}}
                    </p>
                    <div class="tags has-addons are-medium mt-4">
                        {% for fonds_euro in produit.fondsEuro %}
                            {% if fonds_euro.annee == annee_en_cours %}
                                <span class="tag">
                                    {{ fonds_euro.tauxpbfloat }}
                                </span>
                                <span class="tag is-primary">
                                    <span class="icon">
                                        <i class="fas fa-percent"></i>
                                    </span>
                                </span>
                            {% endif %}
                        {% endfor %}
                        <span class="tag">
                            {{produit.fraisGestionFloat |number_format(2 , '.' , ' ')}}
                        </span>
                        <span class="tag is-danger">
                            <span class="icon"><i class="fas fa-percent"></i></span>
                        </span>
                    </div>
{#                    <hr>#}
                    <h6 class="is-size-7">
                        <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                        <span>Produit disponible depuis {{produit.creation|date('d/m/Y')}}</span>
                    </h6>
                </div>

                {# Column 2/2 #}
                <div class="column is-narrow px-5 has-text-centered">
                    {% if produit.imageFilename %}
                        <figure>
                            <img width="200" src="{{ asset('uploads/images/' ~ produit.imageFilename) }}" alt="">
                        </figure>
                    {% else %}
                        <figure class="image is-1by1">
                            <img src="https://loremflickr.com/1024/1024/clothes/all?lock={{ produit.id }}" alt="img">
                        </figure>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="section px-0 py-0">
        <div class="container has-background-white-bis ">
            <div class="columns is-centered mx-0 my-0">
                <div class="column is-half mt-0 pb-5 mx-0 has-text-centered-mobile">
                    <h1 class="has-text-left title is-size-4">Caracteristiques principales</h1>
                    <table class="table is-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="px-3 has-text-centered">{{ produit.titre }}</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th class="px-3">Note Evaluation</th>
                            <th class="has-text-centered">{{ moyenne | number_format(2,'.','') }}/10</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td class="px-3">Frais d'adhésion</td>
                            <td class="has-text-centered">{{ produit.fraisAdhesionFloat | number_format(2, '.', '') }} %</td>
                        </tr>
                        <tr>
                            <td class="px-3">Frais de versement</td>
                            <td class="has-text-centered">{{ produit.fraisVersementFloat | number_format(2, '.', '') }} %</td>
                        </tr>
                        <tr>
                            <td class="px-3">Frais de gestion</td>
                            <td class="has-text-centered">{{ produit.fraisGestionFloat | number_format(2, '.', '') }} %</td>
                        </tr>
                        <tr>
                            <td class="px-3">Frais d'arbitrage</td>
                            <td class="has-text-centered">{{ produit.fraisArbitrageFloat | number_format(2, '.', '') }} %</td>
                        </tr>
                        <tr>
                            <td class="px-3">Assureur</td>
                            <td class="has-text-centered">{{ produit.assureur.nom }}</td>
                        </tr>
                        <tr>
                            <td class="px-3">Type de gestions disponibles</td>
                            <td class="has-text-centered">
                                {% for gestion in produit.gestion %}
                                    {{ gestion.nom }} <br>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="is-vcentered px-3">Rendement</td>
                            <td class="has-text-centered">
                                {% for fonds_euro in produit.fondsEuro %}
                                    {% if fonds_euro.annee == annee_en_cours %}
                                        {{ fonds_euro.tauxpbfloat | number_format(2, '.', '') }} % - {{ fonds_euro.nom }} <br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="column is-half">
                    <h1 class="has-text-left title is-size-4">Avis produit</h1>
                    {% for avis in touslesavis |slice(0, 2) %}
                        <div class="box">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{ avis.auteur.prenom }} {{ avis.auteur.nom | upper }}</strong> <small>@{{ avis.auteur.pseudo }}</small>
                                        <br>
                                        {{ avis.commentaire }}
                                    </p>
                                    <div class="tags has-addons">
                                        <span class="tag">
                                            {{ avis.note }}/10
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container has-background-white-bis">
            <div class="columns is-centered mb-0">
                {% if app.user %}
                <div class="column is-half px-5">
                    {{ form_start(formAvisProduit) }}
                    {{ form_row(formAvisProduit.note, {
                        label : 'Note'
                    }) }}
                    <div class="tags has-addons are-medium mt-4">
                        <span class="tag is-success" id="note_js">5</span><span class="tag is-primary">/10</span>
                    </div>
                    {{ form_row(formAvisProduit.commentaire, {
                        label : 'Commentaire'
                    }) }}
                    <button type="submit" class="button is-primary is-fullwidth">Valider</button>
                    {{ form_end(formAvisProduit) }}
                </div>
                {% else %}
                <div class="column is-half px-5">
                    <span><a href="{{ path('app_login') }}">Se connecter</a> pour donner son avis</span>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <script>
        function setNoteJs(val) {
            document.getElementById("note_js").innerHTML = val;
            if (val > 5) {
                document.getElementById("note_js").classList.remove("is-danger");
                document.getElementById("note_js").classList.add("is-success");
            } else {
                document.getElementById("note_js").classList.remove("is-success");
                document.getElementById("note_js").classList.add("is-danger");
            }
        }
    </script>

{% endblock %}

