{% extends '_template.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title has-text-centered">Mon Profil</h1>
        <div class="columns is-centered">
            <div class="column is-one-third">
        {% include 'includes/flashes.html.twig' %}
        {{ form_start(profilForm) }}
            {{ form_row(profilForm.email, {
                label : "Adresse e-mail"
            }) }}
            {{ form_row(profilForm.pseudo, {
                label : "Pseudo"
            }) }}
            {{ form_row(profilForm.prenom, {
                label : "Prénom"
            }) }}
            {{ form_row(profilForm.nom, {
                label : "Nom"
            }) }}
            {{ form_row(profilForm.telephone, {
                label : "Téléphone"
            }) }}
            <button class="button is-primary is-fullwidth" type="submit">Enregister</button>
            <a href="{{ path('reset_pass') }}" class="button is-fullwidth is-success mt-2">Modifier le mot de passe</a>
            <a href="{{ path('user_suppression_compte') }}" class="button is-fullwidth is-danger mt-2">Supprimer mon compte</a>
        {{ form_end(profilForm) }}
            </div>
        </div>
    </div>
{% endblock %}
