{#<div class="columns is-tablet is-multiline is-centered">#}
<div class="columns is-multiline">
    {% for produit in produits %}
        <div class="column is-full-mobile is-full-touch is-half-desktop"> {# is-one-half / is-one-quarter #}
{#        <div class="column is-half-tablet is-one-third-widescreen"> #}{# is-one-half / is-one-quarter #}
            <div class="box">
                <article class="media">
                    <div class="media-left">
{#                        <figure class="image is-128x128">#}
{#                            <img src="https://loremflickr.com/256/256/clothes/all?lock={{produit.id}}" alt="Image">#}
{#                        </figure>#}
                        {% if produit.imageFilename %}
                            <figure>
                                <img width="200" src="{{ asset('uploads/images/' ~ produit.imageFilename) }}" alt="">
                            </figure>
                        {% else %}
                            <figure>
                                <img width="200" src="https://loremflickr.com/200/120?lock={{ produit.id }}" alt="Image">
                            </figure>
                        {% endif %}
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="{{ path('affichage_produit',{id: produit.id}) }}" class="has-text-primary">
                                    <strong>{{produit.titre}}</strong>
                                </a>
                                <br>
                                <a href="{#{{ path('category_show',{id: produit.category.id}) }}#}" class="has-background-success has-text-white px-1">
                                    <strong>{{produit.categorie.nom | default('non disponible')}}</strong>
                                </a>
                                <br>
                                Disponible depuis : {{produit.creation|date('m/yy')}}
                                {#
                                    <br>
                                    <small class="has-background-success has-text-white">{{product.category.name}}</small>
                                    <br>
                                #}
                                <br>
                                {{produit.description|slice(0,100) ~ ' (...)'}}
                            </p>
                            <strong class="has-text-primary">Rendement:</strong>
                            <div class="tags has-addons">
{#                                <span class="tag is-primary">{{ meilleur_taux[0].tauxPbFloat }}</span>#}
                                    {% for fonds_euro in produit.fondsEuro %}
                                        {% if fonds_euro.annee == annee_en_cours %}
                                        <span class="tag">
                                            {{ fonds_euro.tauxpbfloat }}
                                         </span>
                                        <span class="tag is-primary">
                                            <span class="icon">
                                                <i class="fas fa-percent"></i>
                                            </span>
                                        </span>
                                        {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    {% endfor %}
</div>