{{ form_start(produitForm) }}
                {{ form_row(produitForm.titre,{
                    label : 'Titre du produit'
                }) }}
                {{ form_row(produitForm.description,{
                    label : 'Description'
                }) }}
                {{ form_row(produitForm.frais_adhesion,{
                    label : 'Fraix d\'adhésion'
                }) }}
                {{ form_row(produitForm.frais_versement,{
                    label : 'Frais de versement'
                }) }}
                {{ form_row(produitForm.frais_gestion,{
                    label : 'Frais de gestion'
                }) }}
                {{ form_row(produitForm.frais_arbitrage,{
                    label : 'Frais d\'arbitrage'
                }) }}
                {{ form_row(produitForm.assureur,{
                    label : 'Assureur'
                }) }}
                {{ form_row(produitForm.categorie,{
                    label : 'Catégorie de l\'produit'
                }) }}
                {{ form_row(produitForm.rendement,{
                    label : 'Rendement'
                }) }}
                {{ form_row(produitForm.categorie,{
                    label : 'Catégorie'
                }) }}
                {{ form_row(produitForm.gestion,{
                    label : 'Gestion'
                }) }}
                {{ form_row(produitForm.fonds_euro,{
                    label : 'Fonds Euros'
                }) }}
                {{ form_row(produitForm.label,{
                    label : 'Label'
                }) }}
                {{ form_row(produitForm.creation,{
                    label : 'Disponible depuis'
                }) }}
                <div><strong> Image enregistrée comme logo:</strong></div>
                {{ asset('uploads/images/' ~ produit.imageFilename) | default('Aucune image enregistrée') }}
                <figure>
                    <img width="200" src="{{ asset('uploads/images/' ~ produit.imageFilename) }}" alt="">
                </figure>
                {{ form_row(produitForm.image) }}
<button type="submit" class="button is-success is-fullwidth">
    Enregistrer
</button>
{{ form_end(produitForm) }}