{{ form_start(produitForm) }}
                {{ form_row(produitForm.titre,{
                    label : 'Titre du produit'
                }) }}
                {{ form_row(produitForm.description,{
                    label : 'Description'
                }) }}
                {{ form_row(produitForm.versementInitial, {
                    label : 'Versement initial'
                }) }}
                {{ form_row(produitForm.nbUcDisponibles, {
                    label : 'Nombre UC disponibles'
                }) }}
                {{ form_row(produitForm.frais_adhesion,{
                    label : 'Frais d\'adhésion'
                }) }}
                {{ form_row(produitForm.frais_versement,{
                    label : 'Frais de versement'
                }) }}
                {{ form_row(produitForm.frais_gestion_euro,{
                    label : 'Frais de gestion(fonds euro)'
                }) }}
                {{ form_row(produitForm.frais_gestion_uc,{
                    label : 'Frais de gestion(UC)'
                }) }}
                {{ form_row(produitForm.frais_arbitrage,{
                    label : 'Frais d\'arbitrage'
                }) }}
                {{ form_row(produitForm.assureur,{
                    label : 'Assureur'
                }) }}
                {{ form_row(produitForm.categorie,{
                    label : 'Catégorie'
                }) }}
                {{ form_row(produitForm.categories_uc,{
                    label : 'Catégorie UC'
                }) }}
                {{ form_row(produitForm.gestion,{
                    label : 'Gestion'
                }) }}
                {{ form_row(produitForm.fonds_euro,{
                    label : 'Fonds Euros'
                }) }}
                {{ form_row(produitForm.label,{
                    label : 'Label'
                }) }}
                {{ form_row(produitForm.creation,{
                    label : 'Disponible depuis'
                }) }}
                <div><strong> Image enregistrée comme logo:</strong></div>
                {% if(produit is defined) %}
                {{ produit.imageFilename | default('Aucune image enregistrée') }}
                <figure>
                    <img width="200" src="{{ asset('uploads/images/' ~ produit.imageFilename) }}" alt="">
                </figure>
                {% endif %}
                {{ form_row(produitForm.image) }}
<button type="submit" class="button is-success is-fullwidth">
    Enregistrer
</button>
{{ form_end(produitForm) }}
<script>
    const fileInput = document.querySelector('#produit_form_image input[type=file]');
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            const fileName = document.querySelector('#produit_form_image .file-name');
            fileName.textContent = fileInput.files[0].name;
        }
    }
</script>