{% extends '_admin_template.html.twig' %}

{% block title %}Liste des produits d'assurance-vie{% endblock %}

{% block content %}
    <div class="section">

        <h1 class="title">Liste des produits d'assurance-vie</h1>
        <a href="{{ path('admin_produit_add') }}" class="button mb-4 is-success">
            Créer un nouveau produit d'assurance vie
        </a>
        {% include 'includes/flashes.html.twig' %}

        <table class="table is-fullwidth is-hoverable liste-produits-admin">
            <thead>
            <tr class="has-text-centered">
                <th>#</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Frais d'adhésion</th>
                <th>Frais versement</th>
                <th>Frais de gestion</th>
                <th>Frais d'arbitrage</th>
                <th>Assureur</th>
                <th>Catégorie</th>
                <th>Type Gestion</th>
                <th>Label Assum</th>
                <th>Disponible depuis</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {# La boucle sur produits_list, dernière colonne : Modifier & Supprimer #}
            {% for produit in list_produits %}
                <tr>
                    <td>{{ produit.id }}</td>
                    <td>
                        {#<a href="{{ path('produit_show', {id:produit.id}) }}" target="_blank">#}
                        {#{{ produit.titre }}#}
                        {#</a>#}
                        {{ produit.titre }}
                    </td>
                    <td>{{ produit.description | slice(0, 20) }}</td>
                    <td class="has-text-centered">{{ produit.fraisAdhesionFloat | number_format(2, '.', ' ') }} % </td>
                    <td class="has-text-centered">{{ produit.fraisVersementFloat | number_format(2, '.', ' ') }} % </td>
                    <td class="has-text-centered">{{ produit.fraisGestionFloat | number_format(2, '.', ' ') }} % </td>
                    <td class="has-text-centered">{{ produit.fraisArbitrageFloat | number_format(2, '.', ' ') }} % </td>
                    <td class="has-text-centered">{{ produit.assureur.nom | default('non disponible') }} </td>
                    <td class="has-text-centered">{{ produit.categorie.nom | default('non disponible') }} </td>
                    <td>{% for gest in produit.getGestion %}
                            {{ gest.nom }} <br>
                        {% endfor %}</td>
                    <td class="has-text-centered">{{ produit.labelValue }} </td>
                    <td class="has-text-centered">{{ produit.creation | date("d/m/yy") }} </td>
                    <td>
                        <div class="buttons are-small is-pulled-right">
                            <a href="{{ path('admin_produit_edit', {id:produit.id}) }} " class="button is-success is-outlined">
                                Modifier
                            </a>
                            <a href="{{ path('admin_produit_delete', {id:produit.id}) }} " class="button is-danger is-outlined">
                                Supprimer
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
