{% apply inky_to_html|inline_css(source('@css/foundation-emails.css')) %}
    <spacer size="16"></spacer>

    <container class="header">
        <row>
            <columns>
                <h1 class="text-center">Notification</h1>
                <center>
                    <menu class="text-center">
                        <item href="{{ absolute_url(path('home')) }}">Expert-Assum</item>
                        <item href="{{ absolute_url(path('admin_produit_liste')) }}">Accès Admin</item>
                    </menu>
                </center>
            </columns>
        </row>
    </container>

    <container class="body-border">
        <row>
            <columns>
                <spacer size="32"></spacer>
                <center>
                    {# <img src="https://media.giphy.com/media/QpOZPQQ2wbjOM/giphy.gif"> #}
                    {# cid:logo - insert image path declared in HomeController route when creating the e-mail #}
                    <img src="cid:logo" alt="Image logo" style="max-width: 20%">
                </center>
                <spacer size="16"></spacer>

                <h6>Le message suivant a été envoyé depuis le formulaire de contact du site <a href="{{ absolute_url(path('home')) }}">expert-assum.fr</a> :</h6>
                <p>{{ message }}</p>
                <p>De la part de : {{ prenom ~ ' ' ~ nom }}</p>
                <p>E-mail : {{ email_contact }}</p>
                <p>Téléphone : {{ telephone }}</p>
            </columns>
        </row>
        <spacer size="16"></spacer>
    </container>
{% endapply %}