{% extends "base.html.twig" %}

{# Convention de préfixer avec underscore les fichiers qui sont des maquettes / qui ne sont pas des pages en soit #}
{% block body %}
    {#################       NAVBAR      #################}
    {# sera affiché sur toutes les pages du Back-Office #}

    <nav class="navbar has-background-primary is-danger">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('home') }}">
                <p class=" is-4"><i class="fas fa-home"></i></p>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-arrowless">
                        Menu Produits
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="{{ path('admin_produit_liste') }}">
                            Produits
                        </a>
                        <a class="navbar-item" href="{{ path('admin_categorie_liste') }}">
                            Catégories
                        </a>
                        <a class="navbar-item" href="{{ path('admin_gestion_liste') }}">
                            Types de gestion
                        </a>
                        <a class="navbar-item" href="{{ path('admin_fonds_euro_liste') }}">
                            Fonds en euros
                        </a>
                        <a class="navbar-item" href="{{ path('admin_assureur_liste') }}">
                            Assureurs
                        </a>
                    </div>
                </div>
                <a class="navbar-item" href="{{ path('admin_user_liste') }}">
                    Utilisateurs
                </a>
                <a class="navbar-item" href="{{ path('admin_avisproduit_liste') }}">
                    Avis produits
                </a>
                <a class="navbar-item" href="{{ path('admin_article_liste') }}">
                    Articles
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary is-small" href="{{ path('profil') }}">
                            <span class="icon"><i class="fas fa-user-circle"></i></span>
                            <span><strong>{{app.user.username}}</strong></span>
                        </a>
                        <a class="button is-light is-small" href="{{ path('app_logout') }}">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {# Bloc qui contiendra le contenu de chaque page #}
    {% block content %}{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                    el.addEventListener('click', () => {
                        // Get the value of the attr data-target="navbarBasicExample" from the burger div which is navbarBasicExample
                        const target = el.dataset.target;
                        // Using the targe variable(navbarBasicExample), we get the div with the id "navbarBasicExample"
                        const $target = document.getElementById(target);
                        // on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active'); // Toggle the "is-active" class on the burger div
                        $target.classList.toggle('is-active'); // Toggle the "is-active" class on the div with the id "navbarBasicExample"

                    });
                });
            }

        });
    </script>
{% endblock %}