
{% extends 'base.html.twig' %}

{% block body %}
    {#################       NAVBAR      #################}
    {# sera affiché sur toutes les pages du Front-Office #}

    <nav class="navbar is-light">
        <div class="container is-widescreen">
            <div class="p navbar-brand">
                <a class="navbar-item" href="{{ path('home') }}">
                    <p class="subtitle is-4 has-text-primary">
                        <b>ASSUM</b>
                    </p>
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="navbar-item pt-0 pb-1">
                            <a class="navbar-item button is-light" href="{{ path('admin_produit_liste') }}" >
                                <span class="icon"><i class="fas fa-lock"></i></span>
                                <span>Back-Office</span>
                            </a>
                        </div>
                    {% endif %}
                    <div class="navbar-item pt-0 pb-1">
                        <a class="navbar-item button is-light" href="{{ path('produits') }}">
                            <span>Voir tous les produits</span>
                        </a>
                    </div>
                    <div class="navbar-item pt-0 pb-1">
                        <a class="navbar-item button is-light" href="{{ path('articles') }}">
                            <span>Articles</span>
                        </a>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item py-0">
                        {# if is_granted('IS_AUTHENTICATED_FULLY') #}
                        {% if app.user %}
                            <a class="navbar-item button is-primary is-small mb-1" href="{{ path('profil') }}">
                                <span class="icon"><i class="fas fa-user-circle"></i></span>
                                <span><strong>{{app.user.username}}</strong></span>
                            </a>
                            <a class="navbar-item button is-light is-small" href="{{ path('app_logout') }}">
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        {% else %}
                            <a class="navbar-item button is-primary is-small mb-1" href="{{ path('inscription') }}">
                                <strong>Inscription</strong>
                            </a>
                            <a class="navbar-item button is-light is-small" href="{{ path('app_login') }}">
                                Connexion
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {# Les messages flash #}
    <div class="container">
        {% include 'includes/flashes.html.twig' %}
    </div>

    {% block content %}
        {# Bloc qui contiendra le contenu de chaque page #}
    {% endblock %}

    <footer class="footer">
        <div class="container is-fullhd">
            <div class="tile is-ancestor">
                <div class="tile">
                    <div class="tile is-7 is-parent">
                        <div class="tile is-child box">
                            <p class="title">Dernier article publié</p>
                            <p class="subtitle">{{ dernier_article.titre }}</p>
                            <p class="content"> {{ dernier_article.contenu | slice(0, 250) }} ...
                                (<a href="{{ path('affichage_article', {id: dernier_article.id} ) }}">Lire la suite</a>)</p>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box">
                            <p class="title is-size-5-touch is-size-3-desktop pb-2 has-text-centered">Décovrez le produit du mois</p>
                            <p>{{ produit.title | default('') }}</p>
                            <div class="tile is-child has-text-centered">
                                <a href="{{ path('show_best_produit') }}" class="">
                                <span class="icon is-large has-text-success ">
                                    <i class="fas fa-7x fa-question-circle"></i>
                                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box">
                            RIGHT TILE
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <nav class="level has-text-weight-bold">
                            <p class="level-item has-text-centered">
                                <a class="link is-info">Qui sommes nous</a>
                            </p>
                            <p class="level-item has-text-centered">
                                <a class="link is-info">Nous contacter</a>
                            </p>
                            <p class="level-item has-text-centered is-hidden-tablet-only">
                                <a class="link is-info">Newsletter</a>
                            </p>
                            <p class="level-item has-text-centered is-size-2">
{#                                <img src="https://bulma.io/images/bulma-type.png" alt="" style="height: 30px;">#}
                                ASSUM
                            </p>
                            <p class="level-item has-text-centered">
                                <a class="link is-info">Mentions légales</a>
                            </p>
                            <p class="level-item has-text-centered">
                                <a class="link is-info">Données personelles</a>
                            </p>
                            <p class="level-item has-text-centered is-hidden-tablet-only">
                                <a class="link is-info">Partenaires</a>
                            </p>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                    el.addEventListener('click', () => {
                        // Get the value of the attr data-target="navbarBasicExample" from the burger div which is navbarBasicExample
                        const target = el.dataset.target;
                        // Using the targe variable(navbarBasicExample), we get the div with the id "navbarBasicExample"
                        const $target = document.getElementById(target);
                        // on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active'); // Toggle the "is-active" class on the burger div
                        $target.classList.toggle('is-active'); // Toggle the "is-active" class on the div with the id "navbarBasicExample"

                    });
                });
            }

        });
    </script>
{% endblock %}
