{% extends '_admin_template.html.twig' %}

{% block title %}Liste des catégories UC{% endblock %}

{% block content %}
    <div class="section">

        <h1 class="title has-text-centered">Liste des catégories UC</h1>

        <div class="columns">
            <div class="column"></div>
            <div class="column is-half">
                <a href="{{ path('admin_categorie_uc_add') }}" class="button is-success mb-4">
                    Nouvelle catégorie UC
                </a>

                {% include 'includes/flashes.html.twig' %}

                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th class="px-2 has-text-centered">#</th>
                        <th>Nom de la catégorie UC</th>
                        <th>Nombre de produits</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {# La boucle sur list_categories, dernière colonne : Modifier & Supprimer #}
                    {% for categorie_uc in list_categories_uc %}
                        <tr>
                            <td class="px-2 has-text-centered">{{ categorie_uc.id }}</td>
                            <td>{{ categorie_uc.nom }}</td>
                            <td>{{ categorie_uc.getProduits|length }}</td>
                            <td>
                                <div class="buttons is-pulled-right">
                                    <a href="{{ path('admin_categorie_uc_edit', {id:categorie_uc.id}) }}" class="button is-success">Modifier</a>
                                    <a href="{{ path('admin_categorie_uc_delete', {id:categorie_uc.id}) }}" class="button is-danger">Supprimer</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="column"></div>
        </div>
    </div>
{% endblock %}